<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<table class ="table table-bordered" >>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.title %></td>
        <td><%= comment.text %></td>
        <td><%= comment.day %></td>
        <td><%= link_to 'Show', comment, class: "btn btn-success btn-xs" %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path, class: "btn btn-success btn-lg" %>
<i class="glyphicon glyphicon-plus"></i>
